

.users .users-list {
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.25rem;
}

.users .users-list .user-card-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #f1f1f1;
  background-color: #5e5e5e;

  border-radius: 1rem var(--radius-r) var(--radius-r) 1rem;
  transition: background-color 0.25s ease;

  width: min(max(360px, 65%), 100%);
  box-sizing: border-box;
}

.users .users-list .user-card-container .user-card {
  width: 100%;
  max-width: 380px;
  padding: 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.6rem;
}

.users .users-list .user-card-container .user-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58px;
}

.users .users-list .user-card-container button {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  background-color: #666;
  border: none;
  transition: background-color 0.25s ease;
}

.users .users-list .user-card-container button:first-child {
  border-radius: var(--top-r);
}

.users .users-list .user-card-container button:last-child {
  border-radius: var(--bottom-r);
}

.users .users-list .user-card-container button:first-child:hover {
  background-color: #525866;
}
.users .users-list .user-card-container button:last-child:hover {
  background-color: #8a8f98;
}

.users .users-list .user-card-container button img {
  width: 36px;
  padding: 4px;
}

.back-link {
  display: inline-block;
  margin-bottom: 1.2rem;
  color: #0077cc;
  font-weight: 600;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.back-link:hover {
  opacity: 0.5;
}
.users {
  margin-left: clamp(64px, 18vw, 230px);
  transition: margin-left 0.25s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  min-height: 100vh;
  gap: 2.5rem;

  --radius-r: 1rem;
  --top-r: 0 var(--radius-r) 0 0;
  --bottom-r: 0 0 var(--radius-r) 0;
}
@media (max-width: 850px) {
  .users {
    margin-left: 0;
    margin-bottom: 56px;
  }
}
